.app{
  padding:10px;
}
.form-input{
  margin: 10px 0px;
}
input{
  width: 100%;
}
.form-input, .form-input textarea{
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: .25rem;
  border: 1px solid lightgoldenrodyellow;
  padding: .375rem;
}
button{
  background-color:wheat;
  color:white;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;
}
.blog-post__display{
  border: 1px solid lightgray;
  margin: 5px; 
  border-radius: 4px;
  padding: 10px;
}